# Build directories
bin/
lib/
.dbgbuild/
.relbuild/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Scons stuff
.sconsign.dblite
